<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<h2>Your Pragmatic Cart</h2>
<ul>
  <% item_list = {} %>
  <% @cart.line_items.each do |item| %>
    <% if item_list[item.product.title] %>
      <% item_list[item.product.title] += 1%>
    <% else %>
      <% item_list[item.product.title] = 1%>
    <% end %>
  <% end %>
  <% item_list.each do |item, count| %>
    <li><%= item %> x <%= count %></li>
  <% end %>
</ul>